<script setup lang="ts">
import { TreeStore } from "./classes/TreeStore";
const items = [
  { id: 1, parent: "root" },
  { id: 2, parent: 1, type: "test" },
  { id: 3, parent: 1, type: "test" },

  { id: 4, parent: 2, type: "test" },
  { id: 5, parent: 2, type: "test" },
  { id: 6, parent: 2, type: "test" },

  { id: 7, parent: 4, type: null },
  { id: 8, parent: 4, type: null },
];

const ts = new TreeStore(items);
</script>

<template>
  <div>
    <h3>getAll()</h3>
    <div>{{ ts.getAll() }}</div>
  </div>
  <div>
    <h3>getItem(3)</h3>
    <div>{{ ts.getItem(3) }}</div>
  </div>
  <div>
    <h3>getChildren(4)</h3>
    <div>{{ ts.getChildren(4) }}</div>
  </div>
  <div>
    <h3>getAllChildren(2)</h3>
    <div>{{ ts.getAllChildren(2) }}</div>
  </div>
  <div>
    <h3>getAllParents(7)</h3>
    <div>{{ ts.getAllParents(7) }}</div>
  </div>
</template>

